*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-items{
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; */
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.category-container{
  max-width: 1440px;
  width: 96%;
  margin: 0 auto;
}
.category-container .category-title{
  margin: 20px 0;
}

.grid-card{
  max-width: 600px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);
  margin-bottom: 10px;
  display: grid;
  grid-template-rows: 1fr 40px;
  height: auto;
}
.grid-card .image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.grid-card .image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.grid-card h3{
  padding: 10px;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
  overflow: hidden;
  width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
}